@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --bg-light-gray: #E5E5E5;
    --color-red: #F03C42;
    --color-white: #FFF;
    --color-blue: #222374;
    --color-gray: #CCC;
    --color-black: #000;
}

* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a, a:hover {
    color: unset;
    text-decoration: none;
}

header {
    background-color: var(--color-red);
    height: 100px;
    display: flex;
    align-items: center;
}

nav {
    color: var(--color-white);
    font-size: 14px;
}

nav h1 {
    color: var(--color-white);
    font-size: 18px;
}

.nav-content {
    display: flex;
    justify-content: space-between;
}

.nav-instagram {
    display: flex;
    align-items: center;
}

.nav-instagram img {
    width: 30px;
    margin-right: 5px;
}

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

#our-space {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: var(--color-blue);
}

#our-space h2 {
    color: var(--color-white);
    font-size: 32px;
    padding-bottom: 40px;
}

.our-space-comment {
    padding: 20px 20px;
    background-color: var(--color-gray);
    border-radius: 8px;
    margin-bottom: 20px;
}

.our-space-comment h3 {
    font-size: 20px;
    color: var(--color-black);
    padding-bottom: 20px;
}

.our-space-comment p {
    font-size: 14px;
    color: var(--color-black);
}